<!-- Footer -->
<!--<footer class="page-footer font-small unique-color-dark" flex>-->

  <!--Footer Links-->
  <div class="container text-center text-md-left">
      <div class="row pt-4">

          <!--First column-->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Empresa</strong>
              </h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Here you can use rows and columns here to organize your footer content.</p>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Productos</strong>
              </h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <a href="#!">Producto 1</a>
              </p>
              <p>
                  <a href="#!">Producto 2</a>
              </p>
          </div>
          <!--/.Second column-->

          <!--Third column-->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Enlaces</strong>
              </h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <a href="#!">Enlace 1</a>
              </p>
              <p>
                  <a href="#!">Enlace 2</a>
              </p>
          </div>
          <!--/.Third column-->

          <!--Fourth column-->
          <div class="col-md-4 col-lg-3 col-xl-3">
              <h6 class="text-uppercase font-weight-bold">
                  <strong>Contact</strong>
              </h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <i class="fas fa-home"></i> La Molina, Lima, PE</p>
              <p>
                  <i class="fa fa-envelope"></i> egaspar@edwx.pro</p>
          </div>
          <!--/.Fourth column-->

      </div>
  </div>
  <!--/.Footer Links-->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.edwx.pro/"> Edwx.Pro</a>
  </div>
  <!-- Copyright -->

<!--</footer>-->
<!-- Footer -->
